h1{
    color: red;
}
h1 {
    font-size: 10px;
    color: aqua;
}


/* !important e para dar importancia ao css, não usa isso, caso eu tenha que usar em outra plataforma feita por outro programador ai sim. */

